.input {
    border-radius: 2rem;
    padding-left: 2rem;
    border-left: 2rem;
    border-right: 2rem;
    border-top-color: transparent!important;
    border-bottom-width: 2px;
    box-shadow: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 32%;
    padding: 3rem;
    transition: all .2s ease-in-out;
    margin-top: 40px;
}

.item:hover {
    background-color: rgb(222, 234, 238);
    transform: scale(1.1);
}