* {
    margin: 0px;
    padding: 0px;
}

.bg-img {
    height: 100%;
    min-height: 500px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    background-image: url(./itts-logistiq.jpg);
    width: 100%;
    height: max-content;
}

.text-white {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: left;
}

.button-group {
    margin-top: 8px;
    margin-left: 8px;
}

.btn {
    padding: 11px 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    transition: all .2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}