.header {
    font-size: 1rem;
    margin: auto;
}

.logo {
    width: 63px;
    height: auto;
}

.bg-info {
    padding: 0 !important;
}

.navbar-dark .navbar-brand {
    background: white;
    width: 120px;
}
.mega-menu .dropdown-menu {
	min-width: auto;
	width: 100%;
	position: fixed !important;
	top: 6%;
	left: 0;
	width: 100%;
	transition: all 2s ease 0s;
	overflow: hidden;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	border-radius: 0;
	-webkit-transition: all 2s ease 0s;
	-moz-transition: all 2s ease 0s;
	-ms-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
}

.mega-menu .dropdown-menu .container-xl {
	max-width: 100%;
	padding: 1rem;
	display: block;
	text-align: center;
}
.mega-menu.show .overflow {
	position: fixed;
	z-index: 0;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
